body {
    background-image: url(http://25.media.tumblr.com/tumblr_m6srt6fp691rqq0c0o1_500.gif);
    background-size: 100%  100%;
}   
nav a {
    color: red;
}

#current-link {
    text-decoration: none; 
    color: white
}
.uppercase {
    text-transform: uppercase;
    font-size: 45px;
    color: white;
}
img {
    width: 360px;  
    height: auto
}
h1 {
  border-top: white 4px dashed;
  border-bottom: white 4px dashed;
  padding: 10px;
      padding-left: 525px;
      margin-top: 30px;
      margin-bottom: 30px;
} 
.words {
    color:white;
}